@import './imports/normalize';
@import './helpers/breakpoints';

/* GENERAL STYLES */

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #3b042c;
    background-image: linear-gradient(to top right, #3b042c 30%,#9d2139 60%, #e6510f 90%);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;

    @include screen-type(tablet-portrait){
      background-image: url('../img/beaver-large.jpg');
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
    }

}

p, ul, li {
	margin: 0;
	padding: 0;
}

/* TERMINAL WINDOW STYLE */
.terminal {
	font-family: 'Ubuntu Mono', monospace;
	color: white;
  width: 100vw;
  font-size: 1.5rem;
  box-shadow: 0px 2px 25px -8px rgba(0,0,0,0.75);

  @include screen-type(tablet-landscape){
    max-width: 60rem;
    margin: 4rem auto;
  }

  .head {
    background-color: #45443f;
    background: linear-gradient(#616056, #403f3a);
    padding: 0.3rem;
    border-radius: 5px 5px 0 0;

    &__options {
      list-style: none;
      display: inline-block;
      margin: 0 0.5rem 0 0.2rem;

      .icon {
        vertical-align: middle;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50px;
        display: inline-block;
        background-color: #807e7c;
        background: linear-gradient(#807e7c, #616056);
        text-align: center;
        color: #45443f;
        font-weight: bold;
        font-size: 1.1rem;

        &--close {
          background-color: #dd5c24;
          background: linear-gradient(#e2885e, #dd5c24);
          text-align: center;
        }
      }
    }

    &__whoami {
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
    }
  }


  .window {
    background-color: #300a24;
    height: 500px;
    padding: 0.3rem;
    opacity: 0.9;

    &__text--user {
      color: #87e033;
      font-weight: bold;
    }

    .tilde {
      color: #789ac8;
    
    }
    
    .grep {
      color: #ef2827;
      font-weight: bold;
    }
    
    .dir {
      font-weight: bold;
      color: #789ac8;
    }

  }
}

/* FORM STYLE */
.form {
    display: inline-block;
    &__input {
      background-color: inherit;
      border: none;
      color: #789ac8;
      font-weight: bold;
      caret-color: #fff;
      
      &::placeholder{
        color: white;
        font-weight: normal;
    }
  }

  &__btn {
    width: 6rem;
    background-color: inherit;
    color: #fff;
    border: none;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;

    &--add {
      color: #87e033;
    }
  
    &--remove{
      color: #ef2827;
    }
  }
}

// FOLDERS-TRAY

.folder {
  background-color: #e14b17;
  // background-image: linear-gradient(-20deg, #e14b17, #efc18c);
  background-image: radial-gradient(circle at top, #efc18c 5%, #e14b17);
  height: 50px;
  width: 100px;

}
// #efc18c
// #e14b17
// #f4f4f4

// Animation
.prompt {
    background-color: white;
    margin-left: 0.3rem;
    animation: 1s blink step-end infinite;
    color: transparent;
    font-size: 1rem;
    animation: 1s blink step-end infinite;
  }
  
  
  @keyframes blink {
    from {
      color: transparent;
    }
    to {
      color: black;
    }
  }